[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "python -m unittest discover --start-directory src --pattern '*_test.py'"
lint = "python -m pylint src"
gui = "python src"
gui_watch = "bash -c \"find src | entr -dcr python src\""

[packages]
mysql-connector-python = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.10"
